.mainDiv{
  width: 100vw;
  height: 100%;
}
.header{
  width: 100%;
  position: fixed;
  height: 4em;
  z-index: 100;
  background-color: purple;
  box-shadow: 5px 10px 10px #888888;
}
.logo{
  height: 3em;
  padding: .5em 2em;
  font-size: 3em;
  color: white;
}
.contactForm{
  padding-top: 5em;
  min-width: 500px;
  width:50%;
  margin: auto;
}
form{
  width: 99%;
  margin:auto;
}
.textInput{
  width: 20em;
  padding: .3em;
  border-radius: 5px;
  font-size: 1.1em;
}
[type='checkbox']{
  height: 3em;
  width: 3em;
}
.contactList{
  min-width: 500px;
  width:50%;
  margin: 0px auto 2em auto;
  border: solid 2px #eaf1f8;
  border-radius: 5px;
  box-shadow: 5px 10px 10px #888888;
}
.contactName{
  padding: 10px;
}
.contactName:nth-of-type(odd){
  background-color: #eaf1f8;
}
.contactName:nth-of-type(even){
  background-color: white;
}
.underline:hover{
  text-decoration-line: underline;
}
.contactInfo{
  margin-left: 15px;
  padding: 7px;
}
.button{
  background-color: purple;
  color: white;
  border-radius: 5px;
  height: 3em;
  width: 10em;
  margin: .75em;
}
